/*UT设置文件，开发/生产环境可复制使用*/
/*默认语言*/
LANG=zh
/*语言选项*/
LANG_OPTION=en,zh
/*伪静态bool*/
REWRITE=0
/*默认访问模块*/
DEFAULT_MOD=ut-frame
/*默认访问模块页名*/
DEFAULT_PAGE=index
/*UT可视开发管理项是否开启*/
DEVELOP=1
/*UT调试是否开启*/
DEBUG=0
/*UT调试栏是否打开*/
DEBUG_BAR=0
/*开启自动锁屏*/
LOCKSCREEN=1
/*开启模板工程模式*/
FORMWORK_FRONT=0
FORMWORK_ADMIN=0
/*UT更新接口*/
UPDATEURL=http://frame.usualtool.com/down/update
/*UT市场接口*/
UTFURL=http://frame.usualtool.com/auth.php
/*UT令牌*/
UTCODE=0
/*应用绑定域名*/
APPURL=
/*应用名称*/
APPNAME=UT框架
/*Redis设置*/
REDIS=1
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=UT
REDIS_TIME=3600
/*WebSockets设置*/
SOCKETS=0
SOCKETS_HOST=127.0.0.1
SOCKETS_WSIP=127.0.0.1
SOCKETS_PORT=8080
/*数据库设置*/
DBHOST=localhost
DBPORT=3306
DBUSER=
DBPASS=
DBNAME=
DBCHARSET=utf8
/*缓存同步bool*/
TEMPCACHE=1
/*其他设置*/
/*默认存储服务*/
OSS=
/*默认编辑器*/
EDITOR=