/*基础配置*/
LANG=zh
LANG_OPTION=zh,en
APPURL=
APPNAME=UT框架
UTCODE=0
REWRITE=0
TEMPCACHE=1
TEMPFRONT=0
TEMPADMIN=0
DEFAULT_MOD=ut-frame
DEFAULT_PAGE=index
MANAGE=/admin
DEVELOP=1
LOCKSCREEN=0
UTFURL=http://frame.usualtool.com/auth.php
DOWNURL=http://frame.usualtool.com/down
UPDATEURL=http://frame.usualtool.com/down/update
DEBUG=0
DEBUG_BAR=0
EDITOR=
/*数据配置*/
DBTYPE=mysql
DBCACHE=
DBCACHE_TIME=3600
PDO_DSN=
PDO_USER=
PDO_PASS=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASS=
MYSQL_DB=
MYSQL_CHARSET=utf8
MSSQL_HOST=127.0.0.1
MSSQL_PORT=1433
MSSQL_DB=
MSSQL_USER=
MSSQL_PASS=
PGSQL_HOST=127.0.0.1
PGSQL_PORT=5432
PGSQL_USER=
PGSQL_PASS=
PGSQL_DB=test
SQLITE_DB=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=UT
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_DB=
MONGO_USER=
MONGO_PASS=
MEMCACHE_HOST=127.0.0.1
MEMCACHE_PORT=11211
MEMCACHE_USER=
MEMCACHE_PASS=
SOCKETS_HOST=127.0.0.1
SOCKETS_WSIP=127.0.0.1
SOCKETS_PORT=8080