<mod>
    <id>ut-frame</id>
    <modtype>3</modtype>
    <auther>官方</auther>
    <title>UT公共模块</title>
    <modname>UT公共模块</modname>
    <ver>8.0</ver>
    <description>UT公共模块，可废弃但不可卸载。</description>
    <itemid>1</itemid>
    <ordernum>1</ordernum>
    <modurl>NULL</modurl>
    <befoitem>NULL</befoitem>
    <backitem>NULL</backitem>
    <installsql><![CDATA[0]]></installsql>
    <uninstallsql><![CDATA[0]]></uninstallsql>
</mod>