<mod>
    <id>ut-frame</id>
    <type>3</type>
    <auther>官方</auther>
    <title>UT公共模块</title>
    <ver>8.0</ver>
    <description>UT公共模块，可废弃但不可卸载。</description>
    <itemid>1</itemid>
    <sorting>1</sorting>
    <starturl>NULL</starturl>
    <befoitem>NULL</befoitem>
    <backitem>NULL</backitem>
    <installsql><![CDATA[0]]></installsql>
    <uninstallsql><![CDATA[0]]></uninstallsql>
</mod>