body{
   background-color:#fff;
}
p{
    margin-bottom:0px;
}
.content{
    padding:10px;
} 
.content img{
    max-width:100%;
}
#ut-bottom-small{
    margin-top:-30px;
    background-color: #1d21248c;
    color: #fff;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    opacity: 0.7;
    text-align: center;
}
#ut-content {
	display:none;
	visibility:hidden;
}
#ut-table_filter{
    float: right;
    margin-bottom: 10px;
}
.text-truncate-1 {
  word-break:break-all;
  word-wrap:break-word;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-truncate-2 {
  word-break:break-all;
  word-wrap:break-word;
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#content{
    font-size: 15px;
    word-wrap: break-word;
    word-break: normal;
    word-break: break-all;
}
#content img{
    max-width:100%;
}
.left{
    float:left;
}
.right{
    float:right;
}
.notif-text{
    width:25px;
    align-items:center;
    justify-content:center;
    display:inline-flex;
}
.notif-icon {
    background: #177dff!important;
    color: #fff!important;
    display: inline-flex;
    width: 25px;
    height: 25px;
    font-style:italic;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 50%;
}
.ut-input{
    border: 1px solid #DBDBDB;
    background-color: #FFF;
    padding: 4px 5px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    -webkit-appearance: none;
}
.ut-select{
    border: 1px solid #DBDBDB;
    background-color: #FFF;
    padding: 4px 5px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
}
.ut-button{
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #eee;
}
.upload_all #btn{
    text-decoration: none;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    border: 1px dotted #c2c2c2;
    background: url(/app/assets/images/up.png) no-repeat 0px 10px;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
    color: #666;
    float: left;
}
.ul_pics{
    float: left;
}
.ul_pics li{
    float: left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    list-style-type: none;
    border: 1px solid #eee;
    width: 80px;
    height: 80px;
}
.ul_pics li img{
    width: 80px;
    height: 80px;
}
.ul_pics li i{
    position: absolute;
    top: 0px;
    right: -1px;
    background: red;
    cursor: pointer;
    font-style: normal;
    font-size: 10px;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 12px;
    color: #fff;
}
@media(max-width:640px){
    .none{
        display:none;
    }
    #ut-auto{
        width: 100%;
        overflow: scroll;
        white-space: nowrap;
    }
    #ut-table_filter{
        float: left;
    }
    div.dt-buttons{
        float: left !important;
        text-align: none !important;
    }
}